@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Page.cshtml";
}

@{
    <h1>@Umbraco.Field("mainTitle")</h1>
    
    var contentService = new Samson.Standard.Services.StrongContentService();
    var mediaService = new Samson.Standard.Services.StrongMediaService();

    var home = contentService.GetCurrentNode<Samson.Demo.DocumentTypes.Home>();

    @home.MainTitle
    @Html.Raw(home.MainContent)    
    
    @Html.Raw(Umbraco.Field("mainContent"))

    var blogArticles = contentService.GetChildNodes<Samson.Demo.DocumentTypes.BlogPage>(home);

    if (blogArticles.Any())
    {
        <h3>Blog Articles</h3>
        <ul>
        @foreach (var article in blogArticles)
        {
            var image = mediaService.GetMediaItem<Samson.Standard.MediaTypes.Image>(article.ListingImageId);
            <li>
                <a href="@article.Url">@article.Name</a>
                <img src="@image.FilePath" alt="@image.Name" />
            </li>
        } 
        </ul>
    }
    
    <h3>Macro</h3>
    @Umbraco.RenderMacro("Home")
}