@using Samson.Basic.Services

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Page.cshtml";
}

@{
    <h1>@Umbraco.Field("mainTitle")</h1>
    
    var contentService = new StrongContentService(new DocumentTypeModelsRepository());
    var mediaService = new StrongMediaService(new MediaTypeModelsRepository());

    var home = contentService.GetCurrentNode<Samson.Demo.DocumentTypes.Home>();

    @home.MainTitle
    @Html.Raw(home.MainContent)
    
    var imageId = home.HeroImageId;

    var image = mediaService.GetMediaItem<Samson.Basic.MediaTypes.Image>(imageId);
    
    <img src="@image.FilePath" alt="test" />
    
    
    @Html.Raw(Umbraco.Field("mainContent"))
}